<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row">
        <div class="columns">
          <%= form.number_field :priority, autofocus: true %>
        </div>

        <div class="columns">
          <%= form.text_field :path %>
        </div>

        <div class="columns">
          <%= form.text_field :parameters %>
        </div>

        <div class="columns">
          <%= form.check_box :external %>
        </div>

        <div class="columns">
          <%= form.text_field :target %>
        </div>
      </div>
    </div>
  </div>
</div>
