<% add_decidim_page_title(t("titles.redirections", scope: "decidim.redirects.admin")) %>

<div class="card" id="redirections">
  <div class="item_show__header item_show__header--with-action-options">
    <h1 class="item_show__header-title">
      <div>
        <%= t "decidim.redirects.admin.titles.redirections" %>
      </div>

      <div class="flex items-center gap-x-4">
        <div id="js-other-actions-wrapper">
          <% if allowed_to? :create, :redirection %>
            <%= link_to t("actions.new_redirection", scope: "decidim.redirects.admin"), new_redirection_path, class: "button button__sm button__secondary" %>
          <% end %>
        </div>
      </div>
    </h1>
  </div>
  <div class="card-section">
    <% if @redirections.count > 0 %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th><%= t("models.redirections.fields.path", scope: "decidim.redirects.admin") %></th>
              <th><%= t("models.redirections.fields.target", scope: "decidim.redirects.admin") %></th>
              <th><%= t("models.redirections.fields.priority", scope: "decidim.redirects.admin") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @redirections.each do |redirection| %>
              <tr>
                <td>
                  <% if allowed_to? :read, :redirection %>
                    <%= link_to redirection.path, edit_redirection_path(redirection) %><br />
                  <% else %>
                    <%= redirection.path %>
                  <% end %>
                </td>
                <td><%= redirection.target %></td>
                <td><%= redirection.priority %></td>
                <td class="table-list__actions">
                  <% if allowed_to? :update, :redirection, redirection: redirection %>
                    <%= icon_link_to "pencil-line", edit_redirection_path(redirection), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                  <% end %>

                  <% if allowed_to? :destroy, :redirection, redirection: redirection %>
                    <%= icon_link_to "delete-bin-line", redirection_path(redirection), t("actions.destroy", scope: "decidim.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= decidim_paginate @redirections %>
    <% else %>
      <div class="text-center">
        <%= t ".no_records_html", button_link: new_redirection_path, button_name: t("decidim.redirects.admin.actions.new_redirection") %>
      </div>
    <% end %>
  </div>
</div>
